<a href="https://colab.research.google.com/github/alxfed/colab/blob/master/sqlite_plus_sqlalc_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Creating a *.sqlite file

You need to go a directory where you store your db files and to sqlite3 <database_name>.sqlite

Then you upload this *.sqlite file into colab environment.

# Using sqlalchemy with it

In [0]:
import pandas as pd
data = pd.DataFrame({'a': [1, 2, 3],
                     'b': [4, 5, 6],
                     'c': [7, 8, 9]})

In [0]:
import sqlalchemy as sqlalc

conn = sqlalc.create_engine('sqlite:///colab.sqlite')
data.to_sql(name='first_table', con=conn)

In [0]:
shmata = pd.read_sql_table(table_name='first_table', con=conn)

In [19]:
shmata

   index  a  b  c
0      0  1  4  7
1      1  2  5  8
2      2  3  6  9